.carousel-container {
  margin: 0;
  padding: 0;
}

/* Carousel Element */
#carousel {
  display: grid;
  grid-template-columns: 30px 45vw 30px;
  grid-template-rows: 15fr 1fr;
  grid-template-areas:
    "leftCaret content rightCaret"
    "......... bullets ..........";
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-left: 25%;
  padding: 0;
  box-sizing: border-box;
}

#carousel img {
  max-width: 25%;
  align-self: center;
}

#carousel h2,
#carousel h4,
#carousel p {
  margin: 0;
}
/* Carousel Carets */
#carousel #carousel-left,
#carousel #carousel-right {
  background: none;
  border: none;
  outline: none;
  font-size: 4em;
  color: grey;
  transition: all 0.2s linear;
}
#carousel #carousel-left:hover,
#carousel #carousel-right:hover {
  color: rgb(255, 255, 255);
}
/* Carousel Grid Item Positioning */
#carousel #carousel-left {
  grid-area: leftCaret;
}
#carousel #carousel-right {
  grid-area: rightCaret;
}
#carousel #carousel-container {
  grid-area: content;
  position: relative;
  width: 100%;
  padding: 2%;
}
#carousel #carousel-bullets {
  grid-area: bullets;
}
/* Carousel Bullet Styles */
#carousel-bullets .carousel-bullet {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  padding: 2px;
  cursor: pointer;
}
#carousel #carousel-bullets .fas.fa-circle {
  transition: all 0.2s linear;
}
#carousel #carousel-bullets .fas.fa-circle.active {
  color: rgb(0, 238, 255);
}
/* Carousel Slide Styles */
.carousel-slide {
  opacity: 0;
  z-index: -2;
  transition: all 0.2s linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel-slide.active {
  opacity: 1;
  z-index: 1;
}

@media only screen and (max-width: 1000px) and (min-width: 320px) {
  #carousel img {
    display: none;
  }
}
